.NoteCard{
    display: flex;
    flex-direction: row;
    height: 3rem;
    width: inherit;
    padding-left: 3rem;
    justify-content: space-between;
    align-items: center;
    color: steelblue;
    margin:0.5rem;
    background-color: white;
}